<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:task="http://www.springframework.org/schema/task"
       xmlns:jaxws="http://cxf.apache.org/jaxws"
       xmlns:aop="http://www.springframework.org/schema/aop" xmlns:jpa="http://www.springframework.org/schema/data/jpa"
       xmlns:http="http://cxf.apache.org/transports/http/configuration"
       xsi:schemaLocation=
               "http://www.springframework.org/schema/beans
                http://www.springframework.org/schema/beans/spring-beans.xsd
                http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
                http://www.springframework.org/schema/context
                http://www.springframework.org/schema/context/spring-context.xsd
 			    http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd
 			    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa-1.0.xsd
                            http://cxf.apache.org/transports/http/configuration   http://cxf.apache.org/schemas/configuration/http-conf.xsd
                            http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd">

   
    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:aztest.properties</value>
            </list>
        </property>
        <property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_OVERRIDE"/>
    </bean>
    <context:annotation-config/>
    <context:component-scan base-package="ru.az.sample"/>
    <import resource="classpath:spring/db-config.xml" />
   
    <mvc:annotation-driven />

    <bean
        class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix">
            <value>/WEB-INF/pages/</value>
        </property>
        <property name="suffix">
            <value>.jsp</value>
        </property>
    </bean>
    <!--    <jaxws:client id="fmsService"
                  serviceClass="ru.fms.sx.kernel.webservices.incomingrequests.v2_4_3.IncomingRequestsServiceV243"
                  address="${fms.url}"  >
        <jaxws:inInterceptors>
            <bean class="ru.atc.confirmation.interceptor.ValidateInInterceptor"/>
        </jaxws:inInterceptors>
        <jaxws:outInterceptors>
            <bean class="org.apache.cxf.binding.soap.saaj.SAAJOutInterceptor"/>
            <bean class="ru.atc.confirmation.interceptor.SignOutInterceptor"/>
        </jaxws:outInterceptors>
    </jaxws:client>-->


    <!--    <task:annotation-driven executor="cuExecutor" scheduler="cuScheduler"/>
    -->    
    
    
    <bean id="contents" class="java.lang.String">
        <constructor-arg>
            <bean class="org.springframework.util.FileCopyUtils" factory-method="copyToByteArray">
                <constructor-arg value="classpath:sql/user.sql" type="java.io.InputStream" />
            </bean>     
        </constructor-arg>
    </bean>
</beans>
